.header {
  background-color: #fff;
  padding: 23px 20px 21px 32px;
  z-index: 10;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-navbar {
    display: flex;
  }
  &-navbar__menu {
    display: flex;
    align-items: center;
  }

  &-navbar__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    list-style: none;
  }
  &-navbar__item + &-navbar__item {
    margin-left: 42px;
  }
  &-navbar__item:last-child {
    margin-left: 57px;
  }
  &-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 40px;
    background: #222222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  &-btn:hover {
    background: #4e4e4e;
  }
  &-btn:active {
      transform: scale(0.98);
  }
  &-btn:focus {
      outline: solid #5AB0FF;
  }
}

@media screen and (max-width: 769px) {
    .header {

      &-menu {
        display: none;
      }
    }
}
