.statistics {
  background: #ff5437;
  padding: 80px 0 121px 0;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
  &-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #ffffff;
  }
  &-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
